 /* Job Details Section */
 .stujob-view .job-card {
    width: 100%; /* Ensure it takes full width of the right-side container */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stujob-view .job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .stujob-view .jobRow {
    display: flex;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .stujob-view .jobLabel {
    min-width: 190px;
    font-weight: bold;
  }
  
  /* Handle Description List */
  .stujob-view .job-description ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
  }
  
  /* Bottom Buttons */
  .stujob-view  .job-date-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    border-left-width: 15%;
    width: 80%;
    margin: 0 auto;
  }
  
