.container {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Main card styling */
.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-card .header,
.job-card .details,
.job-card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.job-card .header-left,
.job-card .header-right,
.job-card .active-status,
.job-card .experience,
.job-card .skills,
.job-card .date {
  display: flex;
  align-items: center;
  flex: 1;
}

.job-card .header-left h6 {
  margin-left: 5%;
}

.job-card .header-right,
.job-card .active-status {
  justify-content: center;
}

.job-card .header-right  img{
  width: 90px;
}



.job-card .experience img {
  margin-right: 8px;
  width: 15%;
}

.job-card .experience div {
  margin-right: 20px;
}

.job-card .footer .date {
  font-size: 0.9em;
  color: #757575;
}

.job-card .active-status button {
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 90px;
}

.job-card .active-status p {
  margin: 0;
}