

.navbarHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    background-color: #d8e6ec;
}
.nav-leftside {
    display: flex;
    align-items: center;
}


.nav-leftside img {
    cursor: pointer;
    width: 10%;
    border-radius: 8px;
}

.dropdown-trip {
    margin-left: 10px;
}


.nav-rightside {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

/* .dropdown-item {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-bottom: 1px solid #bdc3c7;
    color: #34495e;
    text-decoration: none;
} */

/* .dropdown-item:last-child {
    border-bottom: none;
} */

.dropdown-item span:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    color: #077fcf;
}

.dropdown-item span:last-child {
    font-size: 0.9em;
    color: #7f8c8d;
}

.dropdown-item:hover {
    background-color: #d0eaf5;
}

.nav-rightside .btn {
    position: relative;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -1px;
    background-color: #ee220b;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.loading-spinner {
    text-align: center;
    padding: 10px;
}
